.logo {
  height: 7vh;
}

.navLink {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
  color: rgb(158, 154, 154);
  margin-inline: 10px;
  letter-spacing: 2px;
  font-weight: 600;
}
.navLink:hover {
  color: rgb(158, 154, 154);
}
.navContainer {
  margin-left: 500px;
}
